// ---------- Colors

$black-01: #000;
$gray-01: #333;
$gray-02: #666;
$gray-03: #bbb;
$white-01: #fff;
$white-02: #eee;
$blue-01: #3297c5;
$blue-02: #3ea5ce;



// ---------- Fonts

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;